/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

/* Tailwind */
@import "tailwindcss";

/* Custom Theme */
@theme {
    --color-primary: #2563EB;
    --color-secondary: #FBBF24;
}

/* Global font */
* {
    font-family: Outfit, sans-serif;
}

/* Optional Playfair heading class */
.font-playfair {
    font-family: "Playfair", serif !important;
}
